version: '{build}'

platform:
  - x86
  - x64
configuration:
  - Release

before_build:
  - cmake .
build_script:
  - cmake --build . --config %CONFIGURATION%
after_build:
  - cpack . --config %CONFIGURATION%

artifacts:
  - path: windisplaymode-*.zip
